
@{
    ViewBag.Title = "RegistracijaUspjeh";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container text-center" style="margin-top:100px;margin-bottom:100px;">


    <i class="fa fa-check-circle register-success" aria-hidden="true"></i>
    <h2>Čestitamo, uspješno ste se registrirali</h2>
    <h3>Da bi koristili stranicu, logirajte se</h3>

    <div class="cta-button">
        <a href="/Account/Login" class="btn btn-primary">Login</a>
    </div>

</div>


