@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">

    <h2>INSTRUKTOR</h2>
    
    <p>&nbsp;</p>

    <p>
        @Html.ActionLink("Idi na listu mojih Kurseva", "Index", "Kurs", null, new { @class = "btn btn-primary" })
    </p>
</div>
