<footer class="footer footer-bg">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-3">
                <div>
                    <p class="footer-heading">O nama</p>
                    <p>Ako želite steči aktuelno znanje iz svih sfera poslovnog svijeta, onda je eAkademija pravo mjesto za vas. Nudimo online učenje s raznih oblasti kako bi Vas pripremili za moderan posao današnjice.</p>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div>
                    <p class="footer-heading">Navigacija</p>
                    <div class="row row-zero">
                        <div class="col-sm-6">
                            <ul class="list-unstyled">
                                <li>
                                    <a href="#">Support</a>
                                </li>
                                <li>
                                    <a href="#">Blog</a>
                                </li>
                                <li>
                                    <a href="#">Terms of Service</a>
                                </li>
                                <li>
                                    <a href="#">Privacy Policy</a>
                                </li>
                            </ul>
                        </div> 
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div>
                    <p class="footer-heading">Kontakt</p>
                    <ul class="list-inline" style="color:white">
                        <li>eAkademija - Online platforma za učenje</li>
                        <li>Univerzitet "Džemal Bijedić" Mostar</li>
                        <li>Sjeverni logor br. 12</li>
                        <li>88000 Mostar, BiH</li>
                        <li>TEL/FAX: +38736/281-160</li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div>
                    <p class="footer-heading">Lajkajte nas</p>
                    <ul class="list-inline">
                        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fedufitba%2F&tabs&width=340&height=214&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=249382352123672" width="340" height="214" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                    </ul>
                </div>
            </div>
        </div>
    </div>




</footer>
